.claude/
.idea
.env
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
.aider*
data/**/*.csv
data/**/*.zip
.DS_Store

ETL/accidents.csv
ETL/points_of_interest.csv
ETL/users.csv
